<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amortización</title>
</head>
<body>

<form method="POST">
    <table>
        <tr>
            <th>Nombre</th>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <th>Precio compra</th>
            <td><input type="text" name="price"/></td>
        </tr>
        <tr>
            <th>Enganche</th>
            <td><input type="text" name="hitch"/></td>
        </tr>
        <tr>
            <th>Tasa de interés</th>
            <td><input type="text" name="interest"/></td>
        </tr>
        <tr>
            <th>Meses</th>
            <td><input type="text" name="months"/></td>
        </tr>
    </table>
    <input type="submit" value="Calcular"/>
</form>

{% if data %}
    <table border="1">
        <tr>
            <th>Number</th>
            <th>Pago</th>
            <th>Principal</th>
            <th>Interes</th>
            <th>Interes</th>
        </tr>
        {% for value in data.table %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{data.payment}}</td>
                <td>{{value.capital}}</td>
                <td>{{value.interes}}</td>
                <td>{{value.total}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>
